In [20]:
# Ernie Sumoso Vicuna 881591

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("mtcars.csv") # press tab for function recommendations during coding
df.tail()
# convert colnames into a list
print(type(list(df.columns)))
print(type(df.columns.to_list()))

<class 'list'>
<class 'list'>

In [3]:
# check % missing values in columns
df.isnull().mean() * 100

Unnamed: 0       0.000
vichle_names     0.000
mpg              6.250
cyl              0.000
disp             0.000
hp               3.125
drat             3.125
wt               0.000
qsec             9.375
v_Shape          6.250
am              12.500
gear             9.375
carb             0.000
dtype: float64

In [4]:
# identify numerical and non-numerical column names
df_nnum_cols = df.select_dtypes(include=['object']).columns.to_list()
df_num_cols = df.select_dtypes(exclude=['object']).columns.to_list()
df_num_cols

['Unnamed: 0',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'v_Shape',
 'am',
 'gear',
 'carb']

In [5]:
# identify numerical and non-numerical columns into new dfs
df_nnum = df.select_dtypes(include=['object'])
df_num = df.select_dtypes(exclude=['object'])

print(type(df_num))
df_num.tail()

<class 'pandas.core.frame.DataFrame'>

,Unnamed: 0,mpg,cyl,disp,hp,drat,wt,qsec,v_Shape,am,gear,carb
27,27,30.4,4,95.1,113.0,3.77,1.513,16.9,1.0,1.0,5.0,2
28,28,15.8,8,351.0,264.0,4.22,3.170,14.5,0.0,1.0,5.0,4
29,29,19.7,6,145.0,175.0,3.62,2.770,15.5,0.0,1.0,5.0,6
30,30,15.0,8,301.0,335.0,3.54,3.570,14.6,0.0,1.0,5.0,8
31,31,21.4,4,121.0,109.0,4.11,2.780,18.6,1.0,1.0,4.0,2

In [10]:
# show and change index name
print(df.index.name)
df.index.name = "my_index"
print(df.index.name)

None
my_index

In [15]:
# create a dataframe using dictionary
names = ['n1', 'n2', 'n3']
deg = ['MBA', 'BCA', 'MBA']
grades = [100, 90, 70]
dict = {'name':names, 'degrees':deg, 'grades':grades}
df = pd.DataFrame(dict)

In [16]:
# save a df into csv format
df.to_csv('example.csv')

In [17]:
# save into json format
df.to_json('example2.json')

In [18]:
# import json file
df2 = pd.read_json('example2.json')
df.tail()

  name degrees  grades
0   n1     MBA     100
1   n2     BCA      90
2   n3     MBA      70

In [19]:
# export into excel
df2.to_excel('example3.xlsm')